/* body {
    background-color: lightblue;
}

h1 {
    color: navy;
    margin-left: 20px;
} */

/* Reset default styles */
* {
    box-sizing: border-box;
    margin: 50px;
    padding: 0;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

/* Container styles */
.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Heading styles */
h1 {
    text-align: center;
    margin-bottom: 30px;
}

/* Form styles */
form {
    text-align: center;
}

/* Label styles */
label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

/* Select, input[type="file"], and button styles */
select, input[type="file"], button {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    outline: none;
}

/* Button hover effect */
button:hover {
    background-color: #ddd;
    cursor: pointer;
}

/* Button styles */
button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

/* Button: disabled state */
button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
