<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CLIP MORPH</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/index.css') }}" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.3/socket.io.js" integrity="sha384-SGGSQJhcPnjlqKtKymo5PvI2OKUmY4EXwWobvjaV1rc3eRE6SoVBQOyrFVz/rtCW" crossorigin="anonymous"></script>
</head>
<body>
    <h1> CLIP MORPH</h1>
    <h1>Choose a style and upload your video</h1>
    <form id="uploadForm" action="/upload" method="post" enctype="multipart/form-data">
        
        <label for="file">Choose a style</label>
        <select name="style-select" id="style-select">
            <option value="">--Please choose an option--</option>
            {% for style in style_options %}
            <option value="{{ style }}">{{ style }}</option>
            {% endfor %}
        </select>

        <label for="file">Choose a video .mp4</label>
        <input type="file" name="file" accept=".mp4">

        <div id="progress-container" style="display: none;">
            <div id="progress-bar"></div>
            <div id="progress-status">Processing...</div>
        </div>

        <button type="button" id="upload-button">Upload and Stylize</button>

    </form>

    <script>
        var socket = io.connect('http://' + document.domain + ':' + location.port);

        document.getElementById("upload-button").addEventListener("click", function () {
            var fileInput = document.querySelector('input[type="file"]');
            var file = fileInput.files[0];
            var styleSelect = document.getElementById("style-select");
            var style = styleSelect.value;

            if (!file) {
                alert("Please select a file.");
                return;
            }
            if (!style) {
                alert("Please select a style.");
                return;
            }

            var formData = new FormData();
            formData.append("file", file);
            formData.append("style-select", style);

            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/upload", true);

            xhr.upload.onprogress = function (event) {
                var progressBar = document.getElementById("progress-bar");
                var progressStatus = document.getElementById("progress-status");
                var percent = (event.loaded / event.total) * 100;
                progressBar.style.width = percent + "%";
                progressStatus.innerText = Math.round(percent) + "%";
            };

            xhr.onreadystatechange = function () {
                if (xhr.readyState === XMLHttpRequest.DONE) {
                    if (xhr.status === 200) {
                        var response = JSON.parse(xhr.responseText);
                        window.location.href = response.redirect;
                    } else {
                        alert("Upload failed: " + xhr.statusText);
                    }
                }
            };

            document.getElementById("progress-container").style.display = "block";
            xhr.send(formData);
        });

        socket.on('processing_progress', function(data) {
            var progress = data.progress;
            var progressBar = document.getElementById('progress-bar');
            var progressStatus = document.getElementById('progress-status');
            progressBar.style.width = progress + '%';
            progressStatus.innerText = progress + '%';
        });
    </script>
</body>
</html>
